body {
  background: #fff;
  padding-bottom: 10em;
}
#moar {
  text-align: center;
  padding: 1em;
}
#msgs {
  list-style-type: none;
  margin: 0;
}
#msgs li {
  /*border-top: 1px solid rgba(0, 0, 0, 0.05);*/
}
#msgs li:nth-child(even) {
  background-color: #fdfdfd;
}
#msgs .meta{
  float: right;
  font-size: smaller;
  color: #999;
}
.gravatar{
  background: #333;
  display: inline-block;
  width:100px;
  height:12em;
}
.gravatar img{
  margin-top:50px;
}

pre {
  font-family: "Courier New", sans-serif;
  line-height: 1;
  border: 0;
  background: transparent;
  margin: 0 0 0 10px;
  display: inline-block;
  vertical-align: bottom;
  white-space: pre;
}
#input {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 0.25em #ccc;
}
#input > .input-append {
  display: block;
}
#font-add-on {
  font-family: "Times New Roman", sans-serif;
  font-style: italic;
}
#msg {
  width: 75%;
  height: 3em;
}
#send {
  height: 3.74em;
}