body {
  background: #EEE;
  padding-bottom: 10em;
}
#moar {
  text-align: center;
  padding: 1em;
}
#msgs {
  list-style-type: none;
  margin: 0;
}
#msgs li {
  padding: 10px 0;
}
#msgs .meta{
  float: right;
  font-size: smaller;
  color: #999;
}
pre {
  font-family: "Courier New", monospace;
  line-height: 1;
  color:black;
  background: white;
  border: 0 none;
  display: inline-block;
  white-space: pre;

  padding: 10px 20px 8px;
  border: solid 1px rgba(0,0,0,0.05);
  -webkit-border-radius: 10px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius: 10px;
  -moz-border-radius-bottomleft: 0;
  border-radius: 10px;
  border-bottom-left-radius: 0;
}
.gravatar{
  margin-top: -25px;
}
.msg-box{
  margin: 0 0 0 60px;
}
#input {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 1em 0 1em 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 0.25em #ccc;
}
#input > .input-append {
  display: block;
}
#font-add-on {
  font-family: "Times New Roman", sans-serif;
  font-style: italic;
}
#msg {
  width:60%;
  max-width: 12.15em;
  height: 1.2em;
  font-family: monospace;
  font-size: 35px;
  letter-spacing: 1px;
  line-height: 1.3;
}
#send {
  height: 52px;
}